
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  padding: 1rem;
  font-weight: 700;

  background-color: var(--blueDark);
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color .1s ease-in;
}

@media (max-width: 768px){
  .button {
    width: 100%;
  }
}

.button:hover {
  background-color: var(--blue);
}
